.filter {
  width: 30%;
}
.header {
  padding-left: 5px;
  padding-top: 5px;
}
html {
  font-size: 12px;
  padding: 20px;
}
.dollars{
  color: orangered;
  font-size: 36px;
}
.header-text{
  color: darkgray;
  font-size: 36px;
}
.text-color{
  color: darkgray;
}

.grayed{
  background-color: silver;
  color: black;
  border-color: gray;
}
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
  .dollars{
    font-size: 26px;
  }
  .header-text{
    font-size: 26px;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 5px;
  }
}